.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
  z-index: 100;
}

.slick-slider {
  width: 100%;
  top: 0px;
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.slick-dots {
  bottom: 30px;
}

.slick-dots li {
  margin: 0 20px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
  border: 1.5px solid #ef0000;
}

.slick-dots li button:before {
  opacity: 1;
  color: transparent;
  border: 1.5px solid white;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.slick-dots li button:hover:before {
  background-color: white;
}

.slick-dots li.slick-active button:hover:before {
  background-color: #ef0000;
}
.slide-button {
  position: absolute;
  top: 50%;
  right: 25px;
  color: white;
  font-size: 50px;
  z-index: 100;
  transform: translateY(-50%);
}

.slide-button img {
  transition: all 0.1s;
  width: 30px;
}

.slide-prev {
  left: 25px;
  right: auto;
  transform: translateY(-50%) rotate(180deg);
}

.slide-button:hover img {
  width: 33px;
  cursor: pointer;
}

@font-face {
  font-family: "NamsanB";
  src: url("./SeoulNamsanB.ttf");
  font-weight: normal;
  font-style: normal;
}

.slide-cover {
  font-family: "NamsanB";

  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6vw;
}

.slick-track {
  height: 100%;
}

.slick-list {
  height: 100%;
  overflow: hidden;
}

.slick-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slick-slide img {
  width: 100%;
}

.bounce {
  position: relative;
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  0% {
    top: -200px;
  }
  50% {
    top: -50px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
